html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    color: var(--text);
}
ul{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--font-title);
    margin-bottom: 1.5rem;
}
p{
    font-family: var(--font-text);
    margin-bottom: 0.5rem;
}
a{
    text-decoration: none;
    color: var(--font-text);
}
