.uppercase {
  text-transform: uppercase;
}
.mr-5 {
  margin-right: 0.5rem;
}
.p-20 {
  padding: 2rem;
}
.p-10 {
  padding: 1rem;
}
.block{
  background: var(white);
  border-radius: 5px;
  box-shadow: var(--shadow);
  // border: 1px solid var(--border);
}