@use "reset";
@use "base";
@use "media-queries" as *;
@use "utilities";
@use "add-article";
@use "index";
@use "show-article";
// @use "edit-article";
@use "header";
@use "profil";
@use "auth-login";
@use "auth-logout";
@use "auth-register";
@use "form";

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: var(--primary);
  color: var(--text-light);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .copyright {
    .hearth {
      color: var(--danger);
    }
    .link-name {
      font-family: var(--font-title);
      &:hover {
        color: var(--gray-dark);
      }
    }
  }
  .ctn-social {
    display: flex;
    li {
      font-size: 2.5rem;
      margin-right: 1rem;
      &:hover {
        color: var(--gray-dark);
      }
    }
  }
}

.content {
  flex: 1;
  //   background: var(--background-lite);
  max-width: 100rem;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-self: center;
  padding: 2rem 0;
  h1 {
    text-align: center;
  }
}

.block {
  padding: 1.5rem;
  border-radius: 5px;
  border: var(--border);
  background-color: white;
  box-shadow: var(--shadow);
}

.overflow {
  overflow: hidden;
}

.cat-active {
  color: var(--primary);
  font-weight: 700;
}
