* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--text);
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  margin-bottom: 1.5rem;
}

p {
  font-family: var(--font-text);
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: var(--font-text);
}

.btn {
  padding: 1.5rem 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
}
.btn-primary {
  background-color: var(--primary);
  color: var(--text-light);
  transition: all 0.3s;
}
.btn-primary:hover {
  background: var(--primary-dark);
  box-shadow: var(--shadow);
}
.btn-secondary {
  background: white;
  border: 1px solid var(--primary);
  color: var(--primary-dark);
  transition: all 0.3s;
}
.btn-secondary:hover {
  border: 1px solid var(--primary-dark);
  color: var(--primary-dark);
  box-shadow: var(--shadow);
}

input,
textarea,
select {
  border-radius: 5px;
  border: var(--border);
  padding: 0.5rem;
}

.small {
  font-size: 1.2rem;
  margin: 0 0.5rem;
}

.uppercase {
  text-transform: uppercase;
}

.mr-5 {
  margin-right: 0.5rem;
}

.p-20 {
  padding: 2rem;
}

.p-10 {
  padding: 1rem;
}

.block {
  background: var(white);
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.form-container {
  display: flex;
  flex-flow: column;
}
.form-container h1 {
  text-align: center;
}
.form-container .form-control {
  font-family: var(--font-text);
  display: flex;
  flex-flow: column;
  margin: 2rem;
}
.form-container .form-control label {
  margin-bottom: 0.5rem;
}
.form-container .form-control textarea {
  height: 25rem;
}
.form-container .form-control .text-error {
  color: var(--danger);
  font-size: 1rem;
}
.form-container .form-action {
  display: flex;
  justify-content: center;
}
.form-container .form-action .btn {
  margin-right: 1rem;
}

.newsfeed-container {
  display: flex;
  flex-flow: row nowrap;
}
.newsfeed-containercategory {
  flex: 200px;
}
.newsfeed-containercategory li {
  margin: 1rem 0;
  font-size: 3rem;
}
.newsfeed-container h2 {
  font-size: 1.9rem;
  padding: 0 1.5rem;
  margin-top: 1rem;
}

.articles-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.article {
  flex: 30%;
  margin: 1rem;
  min-height: 410px;
  cursor: pointer;
}
.article h3 {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
}
.article-picture {
  height: 30rem;
  border-radius: 5px;
  background-size: cover;
  transition: transform 0.4s;
}
.article-picture:hover {
  transform: scale(1.2);
}

.newsfeed-container .category li {
  margin: 1rem 0;
  font-size: 3rem;
  transform: color 0.3s;
}
.newsfeed-container .category li:hover {
  color: var(--primary);
}

.container-article {
  padding-bottom: 10rem;
}
.container-article-link {
  font-size: 1.7rem;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 1rem;
  display: block;
}
.container-article-cover {
  height: 50rem;
  background-size: cover;
  background-position: center;
  width: 100%;
  border-radius: 0.5rem;
}
.container-article-title {
  margin: 3rem 0;
  text-align: left;
  font-size: 5rem;
  font-weight: 400;
}
.container-article-content {
  white-space: pre-wrap;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--primary);
  color: var(--text-light);
  padding: 2.5rem;
  box-shadow: var(--shadow);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
header .icone {
  font-size: 3.5rem;
  font-family: var(--font-title);
}
header .icone i {
  font-size: 4rem;
}
header .icone:hover {
  color: var(--gray-dark);
}
header .header-menu {
  display: flex;
  flex-flow: row nowrap;
}
header .header-menu li {
  font-family: var(--font-title);
  margin-right: 1rem;
  font-size: 2rem;
  padding: 1.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s;
}
header .header-menu li:hover {
  opacity: 0.8;
  background: var(--primary-dark);
}
header .header-menu .active {
  background: var(--primary-dark);
}

footer {
  background-color: var(--primary);
  color: var(--text-light);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .copyright .hearth {
  color: var(--danger);
}
footer .copyright .link-name {
  font-family: var(--font-title);
}
footer .copyright .link-name:hover {
  color: var(--gray-dark);
}
footer .ctn-social {
  display: flex;
}
footer .ctn-social li {
  font-size: 2.5rem;
  margin-right: 1rem;
}
footer .ctn-social li:hover {
  color: var(--gray-dark);
}

.content {
  flex: 1;
  max-width: 100rem;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-self: center;
  padding: 2rem 0;
}

.block {
  padding: 1.5rem;
  border-radius: 5px;
  border: var(--border);
  background-color: white;
  box-shadow: var(--shadow);
}

.overflow {
  overflow: hidden;
}

.cat-active {
  color: var(--primary);
  font-weight: 700;
}

/*# sourceMappingURL=styles.css.map */
